# Configuration file for Lombok.
#
# This project uses the Lombok preprocessor to avoid explict boilerplate code.
# Lombok reads this configuration file when it runs to look for
# project-specific settings.  For more information, see the configuration
# manual: https://projectlombok.org/features/configuration

# Do not search parent directories for more lombok.config files.  This prevents
# stray files named "lombok.config" elsewhere on your filesystem from affecting
# the build of this project.
config.stopBubbling = true
